#### Bagging

**Excercise**
- Download heart disease dataset heart.csv in Exercise folder and do following, (credits of dataset: https://www.kaggle.com/fedesoriano/heart-failure-prediction)

- Load heart disease dataset in pandas dataframe
- Remove outliers using Z score. Usual guideline is to remove anything that has Z score > 3 formula or Z score < -3
- Convert text columns to numbers using label encoding and one hot encoding
- Apply scaling
- Build a classification model using support vector machine. Use standalone model as well as Bagging model and check if you see any difference in the performance.
- Now use decision tree classifier. Use standalone model as well as Bagging and check if you notice any difference in performance

In [84]:
import pandas as pd

In [85]:
df = pd.read_csv('Dataset/heart.csv')

In [86]:
df.shape

(918, 12)

In [87]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [88]:
df.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [89]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [90]:
upper_limit = (df.RestingBP.mean() + 3 * df.RestingBP.std())
upper_limit

187.93897652094344

In [91]:
lower_limit = (df.RestingBP.mean() - 3 * df.RestingBP.std())
lower_limit

76.85405180149664

In [92]:
df = df[(df.RestingBP >= lower_limit) & (df.RestingBP <= upper_limit)]

In [93]:
upper_limit = (df.Cholesterol.mean() + 3 * df.Cholesterol.std())
upper_limit

526.5563408865835

In [94]:
lower_limit = (df.Cholesterol.mean() - 3 * df.Cholesterol.std())
lower_limit

-128.3123848426274

In [95]:
df = df[(df.Cholesterol >= lower_limit) & (df.Cholesterol <= upper_limit)]
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [96]:
upper_limit = (df.FastingBS.mean() + 3 * df.FastingBS.std())
lower_limit = (df.FastingBS.mean() - 3 * df.FastingBS.std())
df = df[(df.FastingBS >= lower_limit) & (df.FastingBS <= upper_limit)]

In [97]:
upper_limit = (df.MaxHR.mean() + 3 * df.MaxHR.std())
lower_limit = (df.MaxHR.mean() - 3 * df.MaxHR.std())
df = df[(df.MaxHR >= lower_limit) & (df.MaxHR <= upper_limit)]

In [98]:
upper_limit = (df.Oldpeak.mean() + 3 * df.Oldpeak.std())
lower_limit = (df.Oldpeak.mean() - 3 * df.Oldpeak.std())
df = df[(df.Oldpeak >= lower_limit) & (df.Oldpeak <= upper_limit)]

In [99]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [100]:
categorical_col = ['Sex', 'ChestPainType', 'RestingECG', 'ExerciseAngina', 'ST_Slope']

In [101]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [102]:
for column in categorical_col:
    df[column] = le.fit_transform(df[column])

In [103]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,2,0
1,49,0,2,160,180,0,1,156,0,1.0,1,1
2,37,1,1,130,283,0,2,98,0,0.0,2,0
3,48,0,0,138,214,0,1,108,1,1.5,1,1
4,54,1,2,150,195,0,1,122,0,0.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,1,132,0,1.2,1,1
914,68,1,0,144,193,1,1,141,0,3.4,1,1
915,57,1,0,130,131,0,1,115,1,1.2,1,1
916,57,0,1,130,236,0,0,174,0,0.0,1,1
917,38,1,2,138,175,0,1,173,0,0.0,2,0

In [104]:
X = df.drop('HeartDisease', axis = 'columns')

In [105]:
y = df.HeartDisease

In [106]:
from sklearn.preprocessing import StandardScaler

In [107]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [108]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier

In [109]:
scores = cross_val_score(DecisionTreeClassifier(), X_scaled, y, cv = 10)
scores.mean()

0.7874406991260925

In [110]:
from sklearn.ensemble import BaggingClassifier

In [111]:
bag_model = BaggingClassifier(
    estimator = DecisionTreeClassifier(), 
    n_estimators = 100, 
    max_samples = 0.8, 
    oob_score = True,
    random_state = 0
)
scores = cross_val_score(bag_model, X, y, cv=10)
scores.mean()

0.8341448189762796